.auth-wrapper {
    display: flex;
    gap: 32px;
    flex: 1;
}

.auth-image-col {
    flex: 2;

    >img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.auth-form {
    flex: 1;
    border: 2px solid var(--yellow);
    padding: 32px;
    border-radius: 16px;
}

.form-actions {
    display: flex;
    gap: 16px;
    align-items: center;
    justify-content: center;
    font-size: 14px;
}

.form-toggle-btn {
    background: none;
    border: none;
    font-size: 14px;
    color: var(--red);
    font-weight: 800;
}

.form-toggle-btn:hover {
    filter: brightness(1.5);
}