.section-divider{
    display: flex;
    gap: 16px;
}
.divider-col{
    flex: 1;
    display: flex;
    align-items: center;
}
.div-line{
    height: 2px;
    width: 100%;
    background-color: var(--yellow);
}
.divider-col-middle{
    display: flex;
    align-items: center;
    gap: 16px;
    font-family: var(--heading-font);
    text-align: center;
    > img{
        width: 40px;
    }
}
.div-line.short{
    max-width: 16px;
}
.div-link{
    color: var(--red);
    border: 1px solid var(--red);
    padding: 8px 16px;
    text-decoration: none;
    text-wrap: nowrap;
    margin: 0px 16px;
}
